
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/admin" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </p>
            <a class="navbar-brand" >
                Users
            </a>
        </div>
    </div>
</nav>

<div class=" container-fluid">
    <h1>List Of Users</h1>
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-3">
                    UserName
                    </div>
                    <div class="col-xs-3">
                    First Name
                    </div>
                    <div class="col-xs-3">
                    Last Name
                    </div>
                    <div class="col-xs-3">
                        Roles (Not Editable)
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                <div class="row">
                    <div class="col-xs-3">
                        <input ng-model="model.newuser.username"
                                class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="model.newuser.firstName"
                               class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="model.newuser.lastName"
                               class="form-control">
                    </div>
                    <div class="col-xs-2">
                        <select class="form-control"
                                ng-model="model.newuser.roles">
                            <option>FAN</option>
                            <option>ARTIST</option>
                            <option>ADMIN</option>
                        </select>
                    </div>
                    <div class="col-xs-1">
                        <span ng-click="model.createUser(model.newuser);"
                              class="glyphicon glyphicon-plus pull-left"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input ng-model="model.user.username"
                                class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="model.user.firstName"
                               class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="model.user.lastName"
                               class="form-control">
                    </div>
                    <div class="col-xs-2">
                        <div class="form-control">{{model.user.roles}}
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <span ng-click="model.updateUser(model.user);"
                              class="glyphicon glyphicon-ok pull-left"></span>
                    </div>
                </div>
            </li>
            <li ng-repeat="user in model.users" class="list-group-item">
                <div class="row">
                <div class="col-xs-3">
                    {{user.username}}
                </div>
                    <div class="col-xs-3">
                        {{user.firstName}}
                    </div>
                    <div class="col-xs-3">
                        {{user.lastName}}
                    </div>
                    <div class="col-xs-2">
                        {{user.roles}}
                    </div>
                    <div class="col-xs-1">
                        <span ng-click="model.selectUser(user);"
                              class="glyphicon glyphicon-pencil pull-left"></span>
                        <span ng-click="model.deleteUser(user._id)"
                              class="glyphicon glyphicon-trash pull-right"></span>
                    </div>
                </div>
            </li>
        </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/home" class="navbar-link">
                <span class="glyphicon glyphicon-home ">
                </span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
