
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/admin" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </p>
            <a class="navbar-brand" >
                Posts
            </a>
        </div>
    </div>
</nav>

<div class=" container-fluid">
    <h1>List Of Posts</h1>
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
               <!-- <div class="col-xs-3">
                    Posted By
                </div>-->
                <div class="col-xs-4">
                    Posted On
                </div>
                <div class="col-xs-4">
                    Post Content
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </li>
        <li ng-repeat="post in model.posts" class="list-group-item">
            <div class="row">
               <!-- <div class="col-xs-3">
                    {{post.username}}
                </div>-->
                <div class="col-xs-4">
                    {{post.dateCreated | date}}
                </div>
                <div class="col-xs-4">
                    {{post.description}}
                </div>
                <div class="col-xs-4">
                    <span ng-click="model.deletePost(post._id)"
                          class="glyphicon glyphicon-remove pull-right"></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/home" class="navbar-link">
                <span class="glyphicon glyphicon-home ">
                </span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
