<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">
            <div class="col-sm-4 hidden-xs">
                <p class="navbar-text pull-left">
                    <a href="#!/artist/{{model.artistName}}/event" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
                <a class="navbar-brand" href="">
                    Events
                </a>
            </div>

            <div class="col-xs-11 col-sm-7" >
                <div class="visible-xs " >
                    <p class="navbar-text pull-left">
                        <a href="#!/artist/{{model.artistName}}/event"
                           class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                        </a>
                    </p>
                </div>
                <div class="
                        navbar-brand">
                    Event Info
                </div>

            </div>
        </div>
    </div>
</nav>

<div class= "container-fluid">
    <div class="row wd-top-most-element">
        <div class="col-sm-4 hidden-xs container-fluid" >
            <img class="container-fluid" ng-src="{{model.event.thumb_url}}">

            <a ng-show="!model.isAttending&& model.isFan" ng-click="model.attendingEvent()"
               class="btn btn-success btn-block wd-botton-most-element">Attend !!</a>

            <a ng-show="model.isAttending && model.isFan"
               ng-click="model.notAttendingEvent()"
               class="btn btn-danger btn-block wd-botton-most-element">Can't make it !!</a>

        </div>
        <div class="col-xs-12 col-sm-8" >
            <div ng-show="model.error"
                 class="alert-info alert">{{model.error}}</div>

            <div class="jumbotron">
                <label for="date">WHEN:</label>
                <div id="date"> {{model.event.datetime | date}}
                </div>
                <label for="name">AT :</label>
                <div id="name"> {{model.event.venue.name}}
                </div>
                <label for="location">LOCATION :</label>
                <div id="location">{{model.event.venue.location}}</div>
                <label for="attendees">ATTENDEES:</label>
                <div id="attendees">{{model.event.attendeeCount}}</div>
            </div>
            <div class="list-group">
                <li class=" list-group-item active">Posts for this event</li>
                <li ng-repeat="post in model.posts" class="list-group-item">
                    <div class="row">
                    <div class="col-xs-9">
                        <strong class="wd-colour-scheme">"{{post.description}}"</strong>
                    posted on {{post.dateCreated | date}}
                    <a ng-show=!post.isLiked ng-click="model.likePost(post._id)">
                        <span class="glyphicon glyphicon-heart-empty">
                        </span>
                    </a>
                    <a ng-show=post.isLiked ng-click="model.unlikePost(post._id)">
                <span class="glyphicon glyphicon-heart ">
                </span>
                    </a>
                    </div>
                        <div class="col-xs-3">
                            <span class="badge">{{post.likes.length}} likes</span>
                        <a ng-show="model.isArtist" ng-click="model.deletePost(post._id)"
                           class="wd-colour-scheme">
                        <span class="glyphicon glyphicon-trash pull-right">
                        </span>
                        </a>
                        <a ng-show= "model.isArtist" href="#!/artist/{{model.artistName}}/event/{{model.eventId}}/post/{{post._id}}"
                           class="wd-colour-scheme">
                        <span class="glyphicon glyphicon-pencil pull-right">
                        </span>
                        </a>
                        </div>
                    </div>
                </li>
                <li ng-show="model.noPosts" class="list-group-item">{{model.noPosts}}</li>
            </div>


            <div ng-show="model.isArtist" class="wd-botton-most-element">
                <a href="#!/artist/{{model.artistName}}/event/{{model.eventId}}/post"
                   class="btn btn-success btn-block">Create Post</a>
            </div>


        </div>

    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/home" class="navbar-link">
                <span class="glyphicon glyphicon-home ">
                </span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
