<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header home-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/home">Concert Fever</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-sm-right">
                <li class="nav-item "><a href="#!/home">Home</a></li>
                <li class="nav-item active"><a href="#!/search">Search</a></li>
                <li ng-if="model.user.anonymous" class="nav-item "><a href="#!/register">Register</a></li>
                <li ng-if="model.user.anonymous" class="nav-item"><a href="#!/login">Log In</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item"><a href="#!/activity">Activity</a></li>
                <li ng-if="model.isAdmin" class="nav-item"><a href="#!/admin">Admin</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item"><a href="#!/profile">Profile</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div>
    <div class="container wd-body-container">
        <h2>Artist Finder</h2>
        <div class="input-group">
            <input ng-model="searchText"
                   type="text"
                   class="form-control"
                   placeholder="Enter the artist name">
            <span class="input-group-btn">
            <a ng-click="model.searchArtistsByName(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
        </div>
        <div class="row">
            <div class="col-xs-6 " >
                <ul ng-repeat="artist in model.results" class="list-group" >
                    <li class="list-group-item">
                        <a  ng-click="model.searchArtist(artist.Name)">{{artist.Name}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 wd-body-container" >
                <div ng-show="model.error" class="alert alert-info" >{{model.error}}</div>
                <div ng-show="model.artist" >
                    <h3>Artist Info</h3>
                    <img class="img-fluid" ng-src="{{model.artist.thumb_url}}">
                    <div>
                        <label>Followers:</label>
                        <div>{{model.artist.tracker_count}}</div>
                        <label>Facebook Page</label>
                        <a href="{{model.artist.facebook_page_url}}">{{model.artist.facebook_page_url}}</a>
                    </div>
                    <a ng-show="model.eventsPresent(model.artist.upcoming_event_count)"
                       class="btn btn-primary btn-block"
                       href="#!/artist/{{model.artist.name}}/event">{{model.events}}</a>


                    <div ng-if="!model.searchedUser.alreadyFollowing && !model.user.anonymous
                    && model.user.isLinkedSearchUser">
                        <a ng-click="model.follow(model.searchedUser._id)"
                           class="btn btn-success btn-block">Follow </a>
                    </div>
                    <div ng-if="model.searchedUser.alreadyFollowing && !model.user.anonymous
                        && model.user.isLinkedSearchUser">
                        <a ng-click="model.unfollow(model.searchedUser._id)"
                           class="btn btn-danger btn-block">UnFollow</a>
                    </div>


                    <div ng-show="!model.eventsPresent(model.artist.upcoming_event_count)"
                        class="alert alert-info" role="alert">
                        <strong>Oh snap!</strong> Looks like {{model.artist.name}} doesn't have
                        any concerts coming up. Try searching for another artist.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>