
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a  href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.wgid,model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok ">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class= "container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widget.name"
           placeholder="Image Title"
           value="Peaceful Music"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           placeholder="Image Description"
           value="The healing power of music"
           id="text"/>

    <label for="url">URL</label>
        <input class="form-control"
               ng-model="model.widget.url"
               placeholder="Spotify"
               value=""
               id="url"/>

    <label for="width">Width</label>
        <input class="form-control"
               ng-model="model.widget.width"
               placeholder=""
               value="100%"
               id="width"/>

    <label for="file">Upload</label>
    <form id = "file" action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.uid}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pid}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.wgid}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary wd-upload-btn">Upload Image</button>
    </form>


    <a ng-click="model.updateWidget(model.wgid,model.widget)" class="btn btn-block btn-success">Update</a>
    <a ng-click="model.deleteWidget(model.wgid)" class="btn btn-block btn-danger">Delete</a>



</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
