
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class=" row navbar-header">
            <div class="col-sm-4 hidden-xs " >
                <p class="navbar-text pull-left">
                    <a href="#!/user/{{model.userId}}/website/"
                        class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
            <div class="navbar-brand" >
                Websites
            </div>
            <p class="navbar-text pull-right">
                <a href="website-new.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus wd-glyph-displacement " >
                    </span>
                </a>
            </p>
            </div>
            <div class="col-xs-11 col-sm-7" >
                <div class="visible-xs " >
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website/"
                           class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                        </a>
                    </p>
                </div>
                <div class="
                        navbar-brand">
                New Website
                </div>

            </div>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/" class="navbar-link">
                    <span class="glyphicon glyphicon-ok ">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class= "container-fluid">
    <div class="row ">
        <div class="col-sm-4 hidden-xs " >
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item " >
                    <a href="!/user/{{model.userId}}/website/{{website._id}}/page"
                       class="wd-colour-scheme">
                        {{website.name}}
                    </a>
                    <a href="!/user/{{model.userId}}/website/{{website._id}}"
                       class="wd-colour-scheme">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8" >
            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="website.name"
                   placeholder="Website Name"
                   id="name"/>

            <label for="description">Description</label>
            <textarea class="form-control"
                      rows="5"
                      ng-model="website.description"
                      placeholder="Website Description"
                      id="description">Website Description...
            </textarea>
            <a ng-click="model.createWebsite(model.userId,website)"
               class="btn btn-block btn-success">Create</a>
        </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
