<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header home-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ConcertFever</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-sm-right">
                <li class="nav-item "><a href="#!/home">Home</a></li>
                <li class="nav-item "><a href="#!/search">Search</a></li>
                <li ng-if="model.user.anonymous" class="nav-item "><a href="#!/register">Register</a></li>
                <li ng-if="model.user.anonymous" class="nav-item"><a href="#!/login">Log In</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item active"><a href="#!/activity">Activity</a></li>
                <li ng-if="model.isAdmin" class="nav-item"><a href="#!/admin">Admin</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item"><a href="#!/profile">Profile</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item "><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="input-group container wd-body-container">
    <input ng-model="searchUser"
           type="text"
           class="form-control"
           placeholder="Enter the username of the user you'd like to follow/unfollow">
    <span class="input-group-btn">
            <a ng-click="model.searchUser(searchUser)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
</div>
<div ng-show="model.searchResult"
     class="container wd-body-container alert alert-info">
    {{model.searchResult}}
</div>
<div ng-show="model.searchedUser"  class="container  wd-body-container">

    <div class="row list-group-item">
    <div class="col-xs-4">
        {{model.searchedUser.username}} ( {{model.searchedUser.firstName}} )
    </div>
        <div class="col-xs-4">
            Joined ConcertFever on {{model.searchedUser.dateCreated |date}}
        </div>
        <div class="col-xs-4">
            <div ng-show="!model.searchedUser.alreadyFollowing">
            <a ng-click="model.follow(model.searchedUser._id)"
                    class="btn btn-success btn-block">Follow</a>
            </div>
            <div ng-show="model.searchedUser.alreadyFollowing">
                <a ng-click="model.unfollow(model.searchedUser._id)"
                   class="btn btn-danger btn-block">UnFollow</a>
            </div>
            </div>
    </div>
</div>


</div>
<div class="container container-fluid wd-body-container">
    <div class="row">
        <div class="btn-group-vertical col-xs-4" role="group">
            <button type="button" class="btn btn-default"
                    ng-click="model.renderFollowers(model.userId)">Followers</button>
            <button type="button" class="btn btn-default"
                    ng-click="model.renderFollowing(model.userId)">Following</button>
            <button type="button" class="btn btn-default"
                    ng-click="model.renderAttending(model.userId)">Attending</button>
            <a class="btn btn-primary"
               href="#!/following">News Feed</a>
            <a class="btn btn-info"
               ng-show="model.isArtist"
               href="#!/myevents">My Concerts</a>
        </div>
        <div class="col-xs-8">

            <div ng-show="model.nofollowingMsg">
                {{model.nofollowingMsg}}
            </div>
            <div ng-show="model.following">
                <h3>Following</h3>
                <li ng-repeat="follow in model.following" class="list-group-item">
                    You are now following {{follow.username}}
                </li>
            </div>

            <div ng-show="model.nofollowersMsg">
                {{model.nofollowersMsg}}
            </div>
            <div ng-show="model.followers">

                <h3>Followers</h3>
                <li ng-repeat="follower in model.followers" class="list-group-item">
                    {{follower.username}} has started following you
                </li>
            </div>

            <div ng-show="model.noEventsMessage">
                {{model.noEventsMessage}}
            </div>
            <div ng-show="model.events">
                <h3>Your upcoming concerts</h3>
                <li ng-repeat="event in model.events" class="list-group-item">
                    You will be attending the concert at {{event.venue.name}} on {{event.datetime|date}}
                </li>
            </div>


        </div>
    </div>
        <!--<div class="row">
        <div class="col-sm-4">
            <button type="button" ng-click="model.renderFollowers(model.userId)"
                    class="form-control btn btn-primary">View Followers</button>
        </div>
            <div class="col-sm-4">
            <button type="button" ng-click="model.renderFollowing(model.userId)"
                    class=" form-control btn btn-primary">View Following</button>
                <button type="button" ng-click="model.showFollowingUsersActivity()"
                    class=" form-control btn btn-info">Friends News Feed</button>
            </div>
            <div class="col-sm-4">
                <button type="button" ng-click="model.renderAttending(model.userId)"
                        class=" form-control btn btn-primary">View Attending</button>
                <a class="btn btn-info btn-block"
                   href="#!/search">Search for Concerts</a>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <div ng-show="model.nofollowersMsg">
                {{model.nofollowersMsg}}
            </div>
            <div ng-show="model.followers">

             <h3>Followers</h3>
            <li ng-repeat="follower in model.followers" class="list-group-item">
                {{follower.username}} has started following you
            </li>
            </div>
        </div>
            <div class="col-sm-4">
                <div ng-show="model.nofollowingMsg">
                    {{model.nofollowingMsg}}
                </div>
                <div ng-show="model.following">
                <h3>Following</h3>
                <li ng-repeat="follow in model.following" class="list-group-item">
                    You are now following {{follow.username}}
                </li>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-show="model.noEventsMessage">
                    {{model.noEventsMessage}}
                </div>
                <div ng-show="model.events">
                <h3>Your upcoming concerts</h3>
                <li ng-repeat="event in model.events" class="list-group-item">
                    You will be attending the concert at {{event.venue.name}} on {{event.datetime|date}}
                </li>
                </div>
            </div>
        </div>-->






</div>

