<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Activity
            </a>

        </div>
    </div>
</nav>
<div class="input-group container wd-body-container">
    <input ng-model="searchUser"
           type="text"
           class="form-control"
           placeholder="Who would you like to follow?">
    <span class="input-group-btn">
            <a ng-click="model.searchUser(searchUser)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
</div>
<div ng-show="model.searchResult"
     class="container wd-body-container alert alert-info">
    {{model.searchResult}}
</div>
<div ng-show="model.searchedUser"  class="container  wd-body-container">
    <div class="row">
    <div class="col-xs-4">
        {{model.searchedUser.username}} ( {{model.searchedUser.firstName}} )
    </div>
        <div class="col-xs-4">
            Joined ConcertFever on {{model.searchedUser.dateCreated |date}}
        </div>
        <div class="col-xs-4">
            <div ng-show="!model.searchedUser.alreadyFollowing">
            <a ng-click="model.follow(model.searchedUser._id)"
                    class="btn btn-success btn-block">Follow</a>
            </div>
            <div ng-show="model.searchedUser.alreadyFollowing">
                <a ng-click="model.unfollow(model.searchedUser._id)"
                   class="btn btn-danger btn-block">UnFollow</a>
            </div>
            </div>
    </div>
</div>
</div>
<div class="container container-fluid wd-body-container">
        <div class="row">
        <div class="col-sm-4">
            <button type="button" ng-click="model.renderFollowers(model.userId)"
                    class="form-control btn btn-primary">View Followers</button>
        </div>
            <div class="col-sm-4">
            <button type="button" ng-click="model.renderFollowing(model.userId)"
                    class=" form-control btn btn-primary">View Following</button>
                <button type="button" ng-click="model.showFollowingUsersActivity()"
                    class=" form-control btn btn-info">Friends News Feed</button>
            </div>
            <div class="col-sm-4">
                <button type="button" ng-click="model.renderAttending(model.userId)"
                        class=" form-control btn btn-primary">View Attending</button>
                <a class="btn btn-info btn-block"
                   href="#!/search">Search for Concerts</a>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <div ng-show="model.nofollowersMsg">
                {{model.nofollowersMsg}}
            </div>
            <div ng-show="model.followers">

             <h3>Followers</h3>
            <li ng-repeat="follower in model.followers" class="list-group-item">
                {{follower.username}} has started following you
            </li>
            </div>
        </div>
            <div class="col-sm-4">
                <div ng-show="model.nofollowingMsg">
                    {{model.nofollowingMsg}}
                </div>
                <div ng-show="model.following">
                <h3>Following</h3>
                <li ng-repeat="follow in model.following" class="list-group-item">
                    You are now following {{follow.username}}
                </li>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-show="model.noEventsMessage">
                    {{model.noEventsMessage}}
                </div>
                <div ng-show="model.events">
                <h3>Your upcoming concerts</h3>
                <li ng-repeat="event in model.events" class="list-group-item">
                    You will be attending the concert at {{event.venue.name}} on {{event.datetime|date}}
                </li>
                </div>
            </div>
        </div>






</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
