<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header home-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ConcertFever</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-sm-right">
                <li class="nav-item "><a href="#!/home">Home</a></li>
                <li class="nav-item "><a href="#!/search">Search</a></li>
                <li ng-if="model.user.anonymous" class="nav-item "><a href="#!/register">Register</a></li>
                <li ng-if="model.user.anonymous" class="nav-item"><a href="#!/login">Log In</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item active"><a href="#!/activity">Activity</a></li>
                <li ng-if="model.isAdmin" class="nav-item"><a href="#!/admin">Admin</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item"><a href="#!/profile">Profile</a></li>
                <li ng-if="!model.user.anonymous" class="nav-item "><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="input-group container wd-body-container">
    <input ng-model="searchUser"
           type="text"
           class="form-control"
           placeholder="Enter the username of the user you'd like to follow/unfollow">
    <span class="input-group-btn">
            <a ng-click="model.searchUser(searchUser)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>

</div>

<div ng-show="model.searchResult" class="container wd-body-container alert alert-info alert-dismissable">{{model.searchResult}}</div>
<div ng-show="model.searchedUser"  class="container  wd-body-container">
    <div class="row">
        <div class="col-xs-4">
            {{model.searchedUser.username}} ( {{model.searchedUser.firstName}} )
        </div>
        <div class="col-xs-4">
            Joined ConcertFever on {{model.searchedUser.dateCreated |date}}
        </div>
        <div class="col-xs-4">
            <div ng-show="!model.searchedUser.alreadyFollowing">
                <a ng-click="model.follow(model.searchedUser._id)"
                   class="btn btn-success btn-block">Follow</a>
            </div>
            <div ng-show="model.searchedUser.alreadyFollowing">
                <a ng-click="model.unfollow(model.searchedUser._id)"
                   class="btn btn-danger btn-block">UnFollow</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container wd-body-container">
        <a href="#!/activity"
           class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span> Go Back to Activity Page
        </a>
    <li class="list-group-item active"><h4>Here's what your friends have been upto</h4></li>
    <li ng-if="model.noFriends" class="list-group-item"> Looks like you're not following anyone.
        Use the search bar above to find other users.</li>
    <li ng-repeat="user in model.usersInfo" class="list-group-item">
        <div ng-include="model.userInfoUrl(user)"></div>
    </li>
</div>
