<div id="home">
    <div id="home-caption">
        <h1> Welcome back {{model.user.username}}. </h1>
    </div>
</div>
<div>
    <div ng-show="model.followingArtists">
    <h3 class="wd-white-text">Here's what your favorite artists have been up to</h3>
    <div class="row ">
        <div class=" container wd-body-container-dark">
            <div class="col-xs-4" ng-repeat="artist in model.followingArtists" >
            <div>
                <img ng-click="model.fetchArtistEvents(artist.artistName)"
                     class="img-responsive img-thumbnail "
                     ng-src="{{artist.imageURL}}"/>
            </div>
                <div class="text-center">{{artist.artistName}}</div>
                <div ng-show="artist.post" class="text-center">
                        <a href="#!/artist/{{artist.artistName}}/event" >{{artist.username}}</a> posted
                        <strong>"{{artist.post.description}}"</strong> for the upcoming event at
                        <a href="#!/artist/{{artist.artistName}}/event/{{artist.event._id}}">
                            {{artist.event.venue.name}}</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>