<div id="home">
    <div id="home-caption">
        <h1>Find out where your favorite artists are performing this weekend.</h1>
        <p></p>
        <a href="#!/register" class="btn btn-lg btn-success">Sign up </a>
    </div>
</div>
<div ng-show="model.newArtists">
    <h3 class="wd-white-text">Here are a few artists that have recently joined ConcertFever</h3>
    <div class="row">
        <div class=" container wd-body-container-dark">
            <div class="col-xs-4" ng-repeat="artist in model.newArtists" >
                <div>
                    <img ng-click="model.fetchArtistEvents(artist.bitName)"
                         class="img-responsive img-thumbnail "
                         ng-src="{{artist.imageURL}}"/>
                </div>
                <h5 class="text-center">{{artist.bitName}}</h5>
            </div>
        </div>
</div>
</div>