
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus ">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class= "container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget"
               class="wd-colour-scheme">
                {{page.name}}
            </a>
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}"
               class="wd-colour-scheme">
                <span class="glyphicon glyphicon-cog pull-right">
                </span>
            </a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user ">
                </span>
            </a>
        </p>
    </div>
</nav>
